asgiref==3.11.0
colorama==0.4.6
Django==6.0.1
django-extensions==4.1
djangorestframework==3.17.1
et_xmlfile==2.0.0
gunicorn==25.3.0
openpyxl==3.1.5
packaging==26.1
pillow==12.1.1
qrcode==8.2
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
